  body{
    padding: 40px;
  }

  .player {
    display: inline-block;
    padding: 5px;
    background-color: #E3E3E3;
    border: 1px solid #000000;
  }

  .player span {
    font-weight: bold;
  }

  .button {
    white-space: nowrap;
    overflow: hidden;
    border: none;
    padding: 0;
    background: rgba(255, 255, 255, 0);
    cursor: pointer;
    vertical-align: bottom;
  }

  .button--small {
    width: 19px;
    height: 19px;
  }

  .button--large {
    width: 48px;
    height: 48px;
  }

  .player__audio-info {
    padding-bottom: 5px;
  }

  .player__audio-info div+div {
    margin-top: 10px;
  }


